# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/.next
package-lock.json

# Editors
.project
.settings
*.sublime-workspace
.idea
.vscode/
.tern-port
.tern-project
.agignore

# Logs
*.log
sh.exe.stackdump

# build
/out

# Misc
.cache/
.yarn-cache
.DS_Store
*.tmp
k8s/k8s-frontend.yaml
.git
yarn.lock
